/*----------------------------------------*/
/*  1. Default CSS
/*----------------------------------------*/
@import url('css.css');

body {
    color: #606060;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
}

.clear {
    clear: both
}

.fix {
    overflow: hidden
}

.block {
    display: block
}

img {
    max-width: 200%;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

button {
    border: 0
}

.bg-light {
    background: #FAFAFA
}

.default-btn {
    color: #fff;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 8px 25px 9px;
    position: relative;
    text-transform: uppercase;
    z-index: 9;
    background: #96858F;
}

.default-btn:hover {
    color: #6D7993;
    background: #fff
}

.banner-btn span {
    transition: all 0.3s ease 0s;
}

input,
select,
textarea {
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.banner-area {
    background: rgba(0, 0, 0, 0) url("../picture/banner.png") no-repeat scroll center center / cover;
    position: relative;
    width: 100%;
    z-index: 1;
}

.banner-content {
    padding: 132px 0 134px;
}

.banner-content h2 {
    font-size: 40px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
}

.banner-breadcrumb ul li {
    display: inline-block;
    padding: 30px 0;
}

.banner-breadcrumb ul li a, .banner-breadcrumb ul li {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-transform: capitalize;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.banner-breadcrumb ul li:hover a {
    color: #471A72
}

/*************************
     Basic margin padding
*************************/
.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

/*************************
        Margin top
*************************/
.mt-0 {
    margin-top: 0
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px
}

.mt-23 {
    margin-top: 23px
}

.mt-25 {
    margin-top: 25px
}

.mt-30 {
    margin-top: 30px
}

.mt-35 {
    margin-top: 35px
}

.mt-40 {
    margin-top: 40px
}

.mt-45 {
    margin-top: 45px
}

.mt-50 {
    margin-top: 50px
}

.mt-55 {
    margin-top: 55px
}

.mt-58 {
    margin-top: 58px
}

.mt-60 {
    margin-top: 60px
}

.mt-65 {
    margin-top: 65px
}

.mt-70 {
    margin-top: 70px
}

.mt-75 {
    margin-top: 75px
}

.mt-80 {
    margin-top: 80px
}

.mt-85 {
    margin-top: 85px
}

.mt-90 {
    margin-top: 90px
}

.mt-95 {
    margin-top: 95px
}

.mt-96 {
    margin-top: 96px
}

.mt-100 {
    margin-top: 100px
}

.mt-105 {
    margin-top: 105px
}

.mt-110 {
    margin-top: 110px
}

.mt-115 {
    margin-top: 115px
}

.mt-120 {
    margin-top: 120px
}

.mt-125 {
    margin-top: 125px
}

.mt-130 {
    margin-top: 130px
}

.mt-135 {
    margin-top: 135px
}

.mt-140 {
    margin-top: 140px
}

.mt-145 {
    margin-top: 145px
}

.mt-150 {
    margin-top: 150px
}

.mt-157 {
    margin-top: 157px
}

.mt-195 {
    margin-top: 195px
}

/*************************
      Margin right
*************************/
.mr-0 {
    margin-right: 0px
}

.mr-2 {
    margin-right: 2px
}

.mr-10 {
    margin-right: 10px
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px
}

.mr-30 {
    margin-right: 30px
}

.mr-40 {
    margin-right: 40px
}

.mr-50 {
    margin-right: 50px
}

.mr-60 {
    margin-right: 60px
}

.mr-66 {
    margin-right: 66px
}

.mr-70 {
    margin-right: 70px
}

.mr-80 {
    margin-right: 80px
}

.mr-90 {
    margin-right: 90px
}

.mr-100 {
    margin-right: 100px
}

.mr-110 {
    margin-right: 110px
}

.mr-120 {
    margin-right: 120px
}

.mr-130 {
    margin-right: 130px
}

.mr-140 {
    margin-right: 140px
}

.mr-150 {
    margin-right: 150px
}

/*************************
    Margin bottom
*************************/
.mb-0 {
    margin-bottom: 0px
}

.mb-2 {
    margin-bottom: 2px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-22 {
    margin-bottom: 22px
}

.mb-23 {
    margin-bottom: 23px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-33 {
    margin-bottom: 33px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-38 {
    margin-bottom: 38px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-47 {
    margin-bottom: 47px
}

.mb-48 {
    margin-bottom: 48px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-55 {
    margin-bottom: 55px
}

.mb-58 {
    margin-bottom: 58px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-65 {
    margin-bottom: 65px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-75 {
    margin-bottom: 75px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-85 {
    margin-bottom: 85px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-95 {
    margin-bottom: 95px
}

.mb-96 {
    margin-bottom: 96px
}

.mb-100 {
    margin-bottom: 100px
}

.mb-105 {
    margin-bottom: 105px
}

.mb-110 {
    margin-bottom: 110px
}

.mb-115 {
    margin-bottom: 115px
}

.mb-120 {
    margin-bottom: 120px
}

.mb-125 {
    margin-bottom: 125px
}

.mb-128 {
    margin-bottom: 128px
}

.mb-130 {
    margin-bottom: 130px
}

.mb-135 {
    margin-bottom: 135px
}

.mb-140 {
    margin-bottom: 140px
}

.mb-145 {
    margin-bottom: 145px
}

.mb-150 {
    margin-bottom: 150px
}

.mb-220 {
    margin-bottom: 220px
}

.mb-350 {
    margin-bottom: 350px
}

/*************************
    Margin left
*************************/
.ml-0 {
    margin-left: 0
}

.ml-10 {
    margin-left: 10px
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px
}

.ml-30 {
    margin-left: 30px
}

.ml-40 {
    margin-left: 40px
}

.ml-50 {
    margin-left: 50px
}

.ml-60 {
    margin-left: 60px
}

.ml-70 {
    margin-left: 70px
}

.ml-85 {
    margin-left: 85px
}

.ml-80 {
    margin-left: 80px
}

.ml-90 {
    margin-left: 90px
}

.ml-100 {
    margin-left: 100px
}

.ml-110 {
    margin-left: 110px
}

.ml-120 {
    margin-left: 120px
}

.ml-130 {
    margin-left: 130px
}

.ml-140 {
    margin-left: 140px
}

.ml-150 {
    margin-left: 150px
}

/*************************
    Padding top
*************************/
.pt-0 {
    padding-top: 0
}

.pt-10 {
    padding-top: 10px
}

.pt-12 {
    padding-top: 12px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-23 {
    padding-top: 23px
}

.pt-25 {
    padding-top: 25px
}

.pt-30 {
    padding-top: 30px
}

.pt-35 {
    padding-top: 35px
}

.pt-38 {
    padding-top: 38px
}

.pt-40 {
    padding-top: 40px
}

.pt-45 {
    padding-top: 45px
}

.pt-50 {
    padding-top: 50px
}

.pt-55 {
    padding-top: 55px
}

.pt-58 {
    padding-top: 58px
}

.pt-60 {
    padding-top: 60px
}

.pt-65 {
    padding-top: 65px
}

.pt-66 {
    padding-top: 66px
}

.pt-70 {
    padding-top: 70px
}

.pt-72 {
    padding-top: 72px
}

.pt-75 {
    padding-top: 75px
}

.pt-77 {
    padding-top: 77px
}

.pt-80 {
    padding-top: 80px
}

.pt-85 {
    padding-top: 85px
}

.pt-90 {
    padding-top: 90px
}

.pt-93 {
    padding-top: 93px
}

.pt-95 {
    padding-top: 95px
}

.pt-96 {
    padding-top: 96px
}

.pt-98 {
    padding-top: 98px
}

.pt-100 {
    padding-top: 100px
}

.pt-104 {
    padding-top: 104px
}

.pt-105 {
    padding-top: 105px
}

.pt-110 {
    padding-top: 110px
}

.pt-112 {
    padding-top: 112px
}

.pt-113 {
    padding-top: 113px
}

.pt-115 {
    padding-top: 115px
}

.pt-117 {
    padding-top: 117px
}

.pt-120 {
    padding-top: 120px
}

.pt-122 {
    padding-top: 122px
}

.pt-123 {
    padding-top: 123px
}

.pt-124 {
    padding-top: 124px
}

.pt-125 {
    padding-top: 125px
}

.pt-130 {
    padding-top: 130px
}

.pt-135 {
    padding-top: 135px
}

.pt-140 {
    padding-top: 140px
}

.pt-145 {
    padding-top: 145px
}

.pt-150 {
    padding-top: 150px
}

.pt-152 {
    padding-top: 152px
}

.pt-155 {
    padding-top: 155px
}

.pt-157 {
    padding-top: 157px
}

.pt-160 {
    padding-top: 160px
}

.pt-195 {
    padding-top: 195px
}

.pt-220 {
    padding-top: 220px
}

/*************************
    Padding right
*************************/
.pr-0 {
    padding-right: 0
}

.pr-10 {
    padding-right: 10px
}

.pr-15 {
    padding-right: 15px
}

.pr-20 {
    padding-right: 20px
}

.pr-30 {
    padding-right: 30px
}

.pr-40 {
    padding-right: 40px
}

.pr-50 {
    padding-right: 50px
}

.pr-58 {
    padding-right: 58px
}

.pr-60 {
    padding-right: 60px
}

.pr-63 {
    padding-right: 63px
}

.pr-70 {
    padding-right: 70px
}

.pr-80 {
    padding-right: 80px
}

.pr-90 {
    padding-right: 90px
}

.pr-100 {
    padding-right: 100px
}

.pr-110 {
    padding-right: 110px
}

.pr-120 {
    padding-right: 120px
}

.pr-130 {
    padding-right: 130px
}

.pr-140 {
    padding-right: 140px
}

/*************************
    Padding bottom
*************************/
.pb-0 {
    padding-bottom: 0
}

.pb-10 {
    padding-bottom: 10px
}

.pb-12 {
    padding-bottom: 12px
}

.pb-14 {
    padding-bottom: 14px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-25 {
    padding-bottom: 25px
}

.pb-27 {
    padding-bottom: 27px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-35 {
    padding-bottom: 35px
}

.pb-38 {
    padding-bottom: 38px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-45 {
    padding-bottom: 45px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-55 {
    padding-bottom: 55px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-65 {
    padding-bottom: 65px
}

.pb-66 {
    padding-bottom: 66px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-75 {
    padding-bottom: 75px
}

.pb-78 {
    padding-bottom: 78px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-83 {
    padding-bottom: 83px
}

.pb-85 {
    padding-bottom: 85px
}

.pb-88 {
    padding-bottom: 88px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-93 {
    padding-bottom: 93px
}

.pb-95 {
    padding-bottom: 95px
}

.pb-96 {
    padding-bottom: 96px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-105 {
    padding-bottom: 105px
}

.pb-110 {
    padding-bottom: 110px
}

.pb-115 {
    padding-bottom: 115px
}

.pb-118 {
    padding-bottom: 118px
}

.pb-120 {
    padding-bottom: 120px
}

.pb-125 {
    padding-bottom: 125px
}

.pb-128 {
    padding-bottom: 128px
}

.pb-130 {
    padding-bottom: 130px
}

.pb-135 {
    padding-bottom: 135px
}

.pb-140 {
    padding-bottom: 140px
}

.pb-145 {
    padding-bottom: 145px
}

.pb-150 {
    padding-bottom: 150px
}

.pb-155 {
    padding-bottom: 155px
}

.pb-185 {
    padding-bottom: 185px
}

.pb-190 {
    padding-bottom: 190px
}

.pb-195 {
    padding-bottom: 195px
}

.pb-220 {
    padding-bottom: 220px
}

/*************************
    Padding left
*************************/
.pl-0 {
    padding-left: 0
}

.pl-10 {
    padding-left: 10px
}

.pl-15 {
    padding-left: 15px
}

.pl-20 {
    padding-left: 20px
}

.pl-30 {
    padding-left: 30px
}

.pl-40 {
    padding-left: 40px
}

.pl-50 {
    padding-left: 50px
}

.pl-60 {
    padding-left: 60px
}

.pl-70 {
    padding-left: 70px
}

.pl-80 {
    padding-left: 80px
}

.pl-90 {
    padding-left: 90px
}

.pl-100 {
    padding-left: 100px
}

.pl-110 {
    padding-left: 110px
}

.pl-120 {
    padding-left: 120px
}

.pl-130 {
    padding-left: 130px
}

.pl-140 {
    padding-left: 140px
}

.pl-150 {
    padding-left: 150px
}

/***************************
    Page section padding 
****************************/
.ptb-0 {
    padding: 0
}

.ptb-10 {
    padding: 10px 0
}

.ptb-18 {
    padding: 18px 0
}

.ptb-20 {
    padding: 20px 0
}

.ptb-30 {
    padding: 30px 0
}

.ptb-40 {
    padding: 40px 0
}

.ptb-50 {
    padding: 50px 0
}

.ptb-60 {
    padding: 60px 0
}

.ptb-70 {
    padding: 70px 0
}

.ptb-80 {
    padding: 80px 0
}

.ptb-90 {
    padding: 90px 0
}

.ptb-100 {
    padding: 100px 0
}

.ptb-110 {
    padding: 110px 0
}

.ptb-120 {
    padding: 120px 0
}

.ptb-130 {
    padding: 130px 0
}

.ptb-140 {
    padding: 140px 0
}

.ptb-150 {
    padding: 150px 0
}

/***************************
    Page section margin 
****************************/
.mtb-0 {
    margin: 0
}

.mtb-10 {
    margin: 10px 0
}

.mtb-15 {
    margin: 15px 0
}

.mtb-20 {
    margin: 20px 0
}

.mtb-30 {
    margin: 30px 0
}

.mtb-40 {
    margin: 40px 0
}

.mtb-50 {
    margin: 50px 0
}

.mtb-60 {
    margin: 60px 0
}

.mtb-70 {
    margin: 70px 0
}

.mtb-80 {
    margin: 80px 0
}

.mtb-90 {
    margin: 90px 0
}

.mtb-100 {
    margin: 100px 0
}

.mtb-110 {
    margin: 110px 0
}

.mtb-120 {
    margin: 120px 0
}

.mtb-130 {
    margin: 130px 0
}

.mtb-140 {
    margin: 140px 0
}

.mtb-150 {
    margin: 150px 0;
}

/*----------------------------------------*/
/*  2. Header CSS
/*----------------------------------------*/
.logo a {
    display: inline-block
}

.logo {
    padding: 30px 0 23px;
    /*    width: 60%;*/
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-area.two .logo {
    padding: 20px 0 0px;
}

.header-area.two.sticky .logo {
    padding: 15px 0 7px;
    width: 60%;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.header-area.two.sticky .search {
    top: 43px;
}

.header-area.two.sticky .main-menu > nav > ul > li > a {
    line-height: 58px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.one.mobile-menu a.meanmenu-reveal span {
    background-color: #fff;
}

.one.mobile-menu a.meanmenu-reveal {
    border: 1px solid #fff;
    color: #fff;
}

.header-area {
    background: #D5D5D5 none repeat scroll 0 0;
}

.main-menu {
    display: inline-block
}

.main-menu ul li {
    display: inline-block;
    position: relative;
}

.header-area.two .main-menu nav ul li:hover a {
    color: #96858F;
}

.about-area {
    background: #D5D5D5;
}

.service-area {
    background: #D5D5D5;
}

.header-contact > a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #471a72;
    border-radius: 25px;
    color: #666666;
    margin-top: 13px;
}

.content-wrapper {
    text-align: right;
}

.main-menu nav > ul > li > a {
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 120px;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

.header-area.two .main-menu nav > ul > li > a {
    color: #303030;
    font-size: 16px;
    line-height: 130px;
}

.main-menu ul li:last-child a {
    padding-right: 0px;
}

.one.main-menu ul li ul {
    top: 75%
}

.sticky .one.main-menu ul li ul {
    top: 100%
}

.main-menu ul li ul {
    background: #ffffff none repeat scroll 0 0;
    left: 0;
    opacity: 0;
    padding: 10px 18px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 185px;
    z-index: 999;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.main-menu ul li:hover > ul {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

.main-menu ul li ul li {
    display: block;
    margin: 0;
    padding: 7px 0;
}

.main-menu nav ul li ul li a {
    color: #252525;
    display: block;
    font-size: 14px;
    line-height: 26px;
    padding: 0;
    text-transform: capitalize;
}

.main-menu ul li ul span {
    float: right;
    font-size: 15px;
    line-height: 20px;
    margin-right: 22px;
}

.main-menu ul li ul li a:before {
    display: none;
}

.main-menu ul li ul li > ul {
    left: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 17%;
    visibility: hidden;
}

.main-menu.text-start span {
    float: right;
}

.mobile-menu-area, .mean-container .mean-bar:after {
    display: none
}

.mean-container .mean-bar {
    background: transparent none repeat scroll 0 0;
    min-height: 0;
    padding: 0;
}

.sticky .header-social ul li a {
    line-height: 69px;
}

.mean-container a.meanmenu-reveal {
    border: 1px solid #2C2B5E;
    color: #000;
    margin-top: -94px;
    padding: 4px 5px;
    position: absolute;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.header-area.two .mean-container a.meanmenu-reveal {
    margin-top: -84px;
}

.header-area.two.sticky .mean-container a.meanmenu-reveal {
    margin-top: -49px;
}

.main-menu.mean-menu.menu-style-toggle.text-right {
    float: right;
}

.search-btn {
    cursor: pointer;
    display: inline-block;
    margin-left: 28px;
    position: relative;
    top: -2px;
}

.search {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    right: 0;
    top: 79px;
    height: 40px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 216px;
    z-index: 9999;
}

#search-form > input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #cacaca;
    color: #252525;
    height: 40px;
    padding: 0 40px 0 10px;
    width: 100%;
}

#search-form > input::-moz-placeholder {
    color: #252525;
}

#search-form > input::-webkit-input-placeholder {
    color: #252525;
}

#search-form > button {
    background: #96858F none repeat scroll 0 0;
    border: 2px solid #c5c596;
    color: #ffffff;
    font-size: 15px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 43px;
}

#search-form > button:hover {
    background: #6D7993;
    border: 2px solid #939369;
}

.search-menu {
    background: #96858F none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 31px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 31px;
    line-height: 25px;
}

.search-menu i {
    font-size: 12px;
    line-height: 30px;
}

.search-menu:hover {
    background: #6D7993
}

.open.search {
    display: block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 2;
}

.header-top {
    background: #96858F;
    position: relative;
}

.header-top:after {
    background: #96858F;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 36%;
}

.header-top::before {
    background: #D5D5D5 none repeat scroll 0 0;
    content: "";
    height: 105px;
    position: absolute;
    right: 37.8%;
    top: -18px;
    transform: rotate(-45deg);
    width: 8px;
    z-index: 1;
}

.header-top-right {
    position: relative
}

.header-top-right::after {
    background: #96858F none repeat scroll 0 0;
    content: "";
    height: 100px;
    left: -16%;
    position: absolute;
    top: -56px;
    transform: rotate(-45deg);
    width: 60px;
}

.header-top-right ul li {
    display: inline-block;
    margin-right: 38px;
}

.header-top-right ul li:last-child {
    margin-right: 0px;
}

.header-top-left p, .header-top-right ul li a {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 50px;
    position: relative;
    z-index: 1;
}

.header-top-right ul li:hover a {
    color: #6D7993;
}

.header-sticky.sticky {
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-sticky.sticky.two {
    background: rgba(255, 255, 255, 0.8);
}

.sticky .main-menu > nav > ul > li > a {
    line-height: 69px;
}

.sticky .header-contact a {
    margin-top: 25px
}

.sticky .logo {
    padding: 12px 0 8px;
}

.header-area .sticky {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4)
}

/*----------------------------------------*/
/*  2. Slider CSS
/*----------------------------------------*/
.slider-area, .single-banner {
    position: relative;
    overflow: hidden
}

.single-slide:after, .banner-area:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.two .single-slide:after {
    background: repeating-linear-gradient(to right, #9099A2, #6D7993, #96858F);
}

.three .single-slide:after, .banner-area:after {
    background: rgba(0, 0, 0, 0.60);
}

.slider-img {
    z-index: 1;
    position: relative;
    margin-right: -25px
}

.slider-area img {
    width: 100%;
}

.slide-content, .text-content {
    z-index: 99;
    position: relative
}

.text-content-wrapper, .slider-area img {
    width: 100%;
}

.slide-content-wrapper {
    display: inline-table;
    width: 100%;
}

.slide-content {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.slider-area.two .slide-content {
    text-align: center;
}

.slide-content h3 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    font-weight: 800;
    line-height: 58px;
    padding-top: 80px;
    text-transform: capitalize;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

.slider-img {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.slide-content h2 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 58px;
    font-weight: 800;
    line-height: 64px;
    text-transform: capitalize;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

.slider-area.two .slide-content h2 {
    line-height: 82px;
}

.slider-area.two .slide-content p {
    margin-bottom: 40px;
}

.slide-content p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

.slider-area .default-btn {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

.slider-area .owl-item.active .slide-content h2, .slider-area .owl-item.active .slide-content h3, .slider-area .owl-item.active .slide-content p, .slider-area .owl-item.active .default-btn {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.slider-area .owl-item.active .default-btn {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.slider-area .owl-item.active .slider-img img {
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}

.owl-item.active .slider-img {
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}

.single-banner .slide-content h2, .single-banner .slide-content h3, .single-banner .slide-content p, .single-banner .banner-btn {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.slider-area .owl-item.active .slide-content h3 {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms
}

.slider-area .owl-item.active .slide-content h2 {
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms
}

.slider-area .owl-item.active .slide-content p {
    -webkit-animation-delay: 1100ms;
    animation-delay: 1100ms
}

.slider-area .owl-item.active .slide-content .banner-btn {
    -webkit-animation-delay: 1700ms;
    animation-delay: 1700ms
}

.slider-area:hover .owl-nav div {
    left: 0;
}

.slider-area:hover .owl-nav .owl-next {
    left: auto;
    right: 0;
}

.single-slide {
    background-position: top center;
    background-size: cover
}

.slider-area {
    height: 100vh;
}

.slider-area div {
    height: 100%
}

.fix {
    overflow: hidden
}

.slider-area .owl-nav div {
    height: auto;
}

.owl-carousel .owl-item .slider-img > img {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 70%;
}

/*----------------------------------------*/
/*  3. Notice CSS
/*----------------------------------------*/
.notice-left, .notice-right {
    padding: 45px 55px 70px 55px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}

.notice-area.three .notice-left {
    padding: 35px 55px 30px 55px;
}

.notice-right {
    padding: 40px 50px 50px;
}

.notice-right-wrapper h3, .notice-left-wrapper h3 {
    margin-bottom: 33px
}

.notice-right-wrapper {
    margin-right: 27px
}

.single-notice-left, .single-notice-right {
    border-bottom: 1px solid #E7E7E7
}

.col-md-6 .single-notice-left:last-child, .col-md-6 .single-notice-left:nth-child(3), .col-md-6 .single-notice-left:nth-child(6), .col-md-6 .single-notice-right:last-child {
    border-bottom: none
}

.notice-area.two .notice-left {
    padding: 33px 58px 31px;
    max-height: 410px;
    overflow-y: auto;
}

.notice-left {
    height: 540px;
    overflow-y: auto;
}

/*----------------------------------------*/
/*  4. Courses CSS
/*----------------------------------------*/
.section-title h2 {
    font-size: 34px;
    color: #000;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 62px;
    text-transform: uppercase;
}

.section-title > img {
    margin-bottom: 2px;
    background: #96858F;
}

.course-content {
    padding: 22px 30px 25px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.course-img img {
    width: 100%;
}

.course-content h3 {
    font-size: 22px;
    color: #303030;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.course-content p {
    font-size: 14px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.course-content .default-btn {
    font-size: 14px;
    padding: 9px 16px;
    transition: all 0.5s ease 0s;
}

.course-img {
    position: relative
}

.course-img a {
    display: block;
    line-height: 0;
    position: relative;
}

.course-hover, .blog-hover {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    opacity: 0;
    transform: translate(-50% -50%);
    margin: auto;
    z-index: 1;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.courses-area.two {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.courses-area.two:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #96858F;
    opacity: 0.5;

}

.notice-area.two {
    background: #D5D5D5;
}

.section-title > img {
    margin-bottom: 2px;
}

.courses-area.two .section-title, .courses-area.two .single-course {
    z-index: 1;
    position: relative
}

.courses-area.two .course-content {
    background: #CBC2C7
}

.course-details-content {
    padding-top: 35px;
    overflow: hidden
}

.course-details-content h3 {
    font-size: 16px;
    color: #303030;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.course-details-content h4 {
    font-size: 12px;
    color: #303030;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.course-details-content p {
    font-size: 14px;
    color: #606060;
    margin-bottom: 4px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

.single-course-left a {
    font-size: 14px;
    margin-left: 4px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
}

.course-details-left {
    float: left;
    padding-right: 50px;
    width: 58%
}

.course-details-left h3, .course-details-right h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #303030;
    margin-bottom: 14px;
}

.course-details-content p.margin {
    margin-bottom: 15px
}

/*----------------------------------------*/
/*  5. Event CSS
/*----------------------------------------*/
.single-event {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.nicescroll-rails-vr .nicescroll-cursors {
    background-color: #96858F ! important;
}

.event-date {
    float: left;
    background: #96858F;
    margin-right: 20px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.event-date h3 {
    color: #fefefe;
    font-size: 30px;
    line-height: 32px;
    padding: 11px 18px 11px;
    text-align: center;
}

.event-date h3 span {
    font-size: 16px;
    text-transform: uppercase;
    display: block;
}

.event-content {
    overflow: hidden;
    padding: 18px 0 20px
}

.event-content-left {
    float: left
}

.event-content-left h4 {
    font-size: 16px;
    color: #303030;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.event-content-left ul li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #606060;
}

.event-content-left ul li:last-child {
    margin-right: 0px;
}

.event-content-left ul li i {
    color: #606060;
    font-weight: 300;
    margin-right: 8px;
}

.single-event:hover .event-date {
    background: #6D7993
}

.event-area {
    background: #D5D5D5;
}

.event-bag {
    background: #9099A2;
}

/*----------------------------------------*/
/*  5. Blog CSS
/*----------------------------------------*/
.blog-area .section-title h2 {
    margin-bottom: 55px;
}

.single-blog-widget h3 {
    font-size: 20px;
    color: #303030;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 35px;
    line-height: 26px;
}

.single-blog-widget ul li {
    display: block;
    padding-bottom: 27px;
}

.single-blog-widget ul li:last-child {
    padding-bottom: 5px;
}

.single-blog-widget ul li a {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #3C3F41;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.single-blog-widget ul li:hover a {
    color: #6D7993;
}

.courses-details-area.blog-area {
    background: #D5D5D5;
}

.event-left-details-area {
    background: #D5D5D5;
}

.blog-sidebar.left {
    margin-right: 70px;
}

.blog-sidebar.right {
    margin-left: 70px
}

.blog-area .pagination {
    margin-bottom: 0
}

.single-post-content {
    overflow: hidden
}

.single-post-content h4 {
    color: #303030;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
    margin-top: 5px;
}

.single-post-content p {
    color: #606060;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
}

.reply-area h3 {
    font-size: 20px;
    color: #303030;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 58px;
    margin-bottom: 15px;
}

.reply-area form {
    position: relative
}

.reply-area p {
    font-size: 14px;
    color: #606060;
    font-weight: 400;
    margin-bottom: 26px;
}

.reply-area form p {
    font-size: 14px;
    color: #030303;
    font-weight: 600;
    margin-bottom: 10px;
}

.reply-area form input, .reply-area form textarea {
    border: 1px solid #FFF;
    height: 42px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
    background: #D5D5D5;
}

.reply-area form textarea {
    height: auto;
    margin-bottom: 40px;
    padding: 15px;
}

.reply-area form .reply-btn {
    background: #96858F;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 25px;
    font-weight: 700;
    display: inline-block;
}

.reply-area form .reply-btn:hover {
    background: #9099A2;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

#contact-form .form-message {
    margin-top: 15px;
    margin-bottom: 0;
}

.newsletter-form form {
    position: relative;
}

.newsletter-form form input {
    border: 1px solid #E1E1E1;
    width: 100%;
    background: transparent;
    padding: 13px 180px 13px 30px;
}

.newsletter-form form button {
    padding: 11px 30px 12px;
    position: absolute;
    right: 1px;
    top: 1px;
}

.newsletter-form form button:hover {
    background: #2C2B5E;
    color: #fff;
}

.mc-news {
    left: -5000px;
    position: absolute;
}

/*----------------------------------------*/
/*  11. Scrollup CSS
/*----------------------------------------*/
#scrollUp {
    border-radius: 2px;
    bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 45px;
    position: fixed;
    right: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 200;
}

#scrollUp:hover {
}

@keyframes scroll-top {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        bottom: 50%;
        opacity: 1;
    }
    100% {
        bottom: 75%;
        opacity: 0;
    }
}

@keyframes scroll-top {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        bottom: 50%;
        opacity: 1;
    }
    100% {
        bottom: 75%;
        opacity: 0;
    }
}

@keyframes scroll-top {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        bottom: 50%;
        opacity: 1;
    }
    100% {
        bottom: 75%;
        opacity: 0;
    }
}

#scrollUp:hover i {
    animation: 800ms linear 0s normal none infinite running scroll-top;
    bottom: 0;
    height: 100%;
    left: 0;
    margin-bottom: -25px;
    position: absolute;
    width: 100%;
}

#scrollUp i {
    color: #ffffff;
}

#scrollUp {
    background: #6D7993 none repeat scroll 0 0;
}

/*----------------------------------------*/
/*  7. Footer CSS
/*----------------------------------------*/
.main-footer {
    padding-bottom: 50px;
    padding-top: 50px;
    background: #D5D5D5;
}

.footer-area.three .main-footer {
    padding-bottom: 50px;
}

.footer-area.two .main-footer {
    padding-top: 85px;
    padding-bottom: 60px
}

.single-widget h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    margin-bottom: 45px;
    position: relative;
}

.single-widget h3::after {
    background: #606060 none repeat scroll 0 0;
    bottom: -10px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 57px;
}

.single-widget h3::before {
    background: #606060 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 45px;
}

.single-widget p {
    color: #7d7d7d;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 15px;
}

.single-widget ul {
    margin-top: 25px
}

.footer-social ul li {
    display: inline-block;
    margin-right: 13px;
}

.footer-social ul li:last-child {
    margin-right: 0px;
}

.single-widget ul li {
    color: #7d7d7d;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.footer-social ul li a {
    border: 1px solid #DADADA;
    color: #7D7D7D;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 26px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.footer-area.two .footer-social ul li a {
    border: 1px solid #7A7A93;
    color: #c7c7c7;
}

.footer-social ul li:hover a, .footer-area.two .footer-social ul li:hover a {
    border: 1px solid #EC1C23;
    background: #EC1C23;
    color: #fff;
}

.single-widget ul li:last-child {
    margin-right: 0px;
}

.footer-bottom {
    background: #96858F
}

.footer-bottom p {
    color: #c7c7c7;
    font-size: 14px;
    line-height: 60px;
    margin-bottom: 2px;
    font-family: 'Open Sans', sans-serif;
}

.footer-area.three .footer-bottom.two p {
    line-height: 48px;
    margin-bottom: 0;
}

.footer-area.three .footer-bottom.two .footer-social ul {
    padding: 15px 0 15px;
}

.footer-bottom p a {
    color: #fff;
    font-weight: 600;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.footer-bottom p a:hover {
    text-decoration: underline;
}

.main-footer .col-md-3:last-child {
    padding-left: 75px
}

.footer-area.two .single-widget a {
    float: left;
    display: block
}

.footer-area.two .single-widget ul li a {
    float: none
}

.footer-area.two .main-footer .col-md-3:last-child {
    padding-left: 50px;
}

.footer-area.three .footer-bottom {
    background: #fafafa none repeat scroll 0 0;
    padding: 75px 0 55px;
}

.footer-area.three .footer-bottom p a {
    color: #c7c7c7;
}

.footer-area.three .footer-bottom p {
    margin-bottom: 10px;
}

.footer-bottom .footer-social ul {
    padding: 17px 0 15px;
}

.single-widget.instagram a {
    position: relative;
    line-height: 0;
}

.single-widget.instagram a:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: "";
    background: rgba(236, 28, 35, 0.5) none repeat scroll 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.single-widget.instagram a:hover::after, .single-widget.instagram a:hover i {
    opacity: 1
}

.single-widget.instagram a i {
    position: absolute;
    z-index: 1;
    color: #fff;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

/*----------------------------------------*/
/*  13. Service CSS
/*----------------------------------------*/
.single-service {
    padding: 40px 40px;
    box-shadow: 0 0 4px 0 #ddd;
}

.service-area h3 {
    font-size: 20px;
    color: #303030;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 12px;
}

.service-area p {
    font-size: 14px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
}

/*----------------------------------------*/
/*  7. Service CSS
/*----------------------------------------*/
.single-service {
    padding: 30px 20px 30px 20px;
    box-shadow: 0 0 4px 0 #ddd;
}

.service-area h3 {
    font-size: 20px;
    color: #303030;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 12px;
}

.service-area p {
    font-size: 14px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
}

/*----------------------------------------*/
/*  8. About CSS
/*----------------------------------------*/
.about-content h2 {
    font-size: 35px;
    color: #303030;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-content p {
    font-size: 18px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.about-content div p {
    font-size: 20px;
    color: #6D7993;
    font-family: 'Open Sans', serif;
}

.about-img {
    position: relative;
    z-index: 1;
    margin-right: -30px;
    padding: 0 20px;
}

.about-img:after {
    position: absolute;
    border: 10px solid #EBEBEB;
    left: 0;
    bottom: -5px;
    width: 100%;
    content: "";
    height: 88%;
    z-index: -1;
}

.event-left-details-content {
    margin-top: 26px
}

.event-left-details-content h2 {
    color: #303030;
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    margin-bottom: 3px;
    margin-top: 3px;
    text-transform: uppercase;
}

.event-left-details-content h5 {
    font-size: 14px;;
    color: #030303;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}

.event-left-details-content h4 {
    font-size: 18px;
    color: #929292;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.event-left-details-content p {
    font-size: 14px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.event-left-details-content ul li span {
    font-size: 14px;
    color: #303030;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.event-left-details-content ul li {
    font-weight: 600;
    margin-bottom: 15px;
}

/*----------------------------------------*/
/*  9. Contact CSS
/*----------------------------------------*/
.contact-contents {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.13);
    padding: 55px 0;
    margin-right: 65px;
}

.contact-area {
    background: #D5D5D5;
}

.contact-icon {
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    height: 50px;
    margin: auto auto 20px;
    position: relative;
    text-align: center;
    width: 50px;
}

.contact-icon img {
    bottom: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.contact-add h3 {
    font-size: 18px;
    color: #303030;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.contact-add p {
    font-size: 16px;
    color: #606060;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0px;
}

.contact-area .reply-area h3 {
    margin-top: 0
}

/*---------------------
  17. Login CSS
-------------------------*/
.login-area {
    background: #D5D5D5;
}

.login-form-container {
    background: #f5f5f5 none repeat scroll 0 0;
    overflow: hidden;
    padding: 37px 40px;
    text-align: left;
}

.login-text {
    text-align: center;
    margin-bottom: 30px;
}

.login-text h2 {
    color: #444;
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.login-text span {
    font-size: 15px;
}

.login-form-container input {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    color: #666666;
    margin-bottom: 20px;
    font-size: 14px;
    height: 40px;
    padding-left: 10px;
    width: 100%;
    border: medium none rgba(0, 0, 0, 0);
    box-shadow: none;
}

.login-toggle-btn {
    padding-top: 20px;
}

.login-form-container input[type="checkbox"] {
    height: 15px;
    margin: 0;
    position: relative;
    top: 1px;
    width: 17px;
}

.login-form-container label {
    color: #606060;
    font-size: 15px;
    font-weight: 400;
}

.button-box .default-btn {
    background: #96858F;
    border: 1px solid #6D7993;
    border-radius: 30px;
    color: #FFF;
    font-size: 14px;
    margin-top: 40px;
    padding: 8px 36px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.button-box .default-btn:after, .button-box .default-btn:before {
    display: none
}

.button-box .default-btn:hover {
    background-color: #6D7993;
    border: 1px solid #6D7993;
    color: #fff;
}

.news-2 {
    float: left;
    width: 20.14vw;
    height: 18vw;
    background: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    flex: 0 0 40%;
    flex-basis: calc((100% - 80px) / 4); /* 假设左右margin都为10px，总共减去20px */
    margin-bottom: 10px;
    margin-right: 10px;
}

.news-2pic {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 11vw
}

.news-info {
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 0px 10%;
    box-sizing: border-box;
    margin-top: 1vw;
}

.news-info span {
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.news-info a:hover span {
    color: #b70031
}

.news-other {
    width: 100%;
    overflow: hidden;
    padding: 0px 10%;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    bottom: 14px;
    z-index: 12;
}

.news-other em {
    float: right;
    width: auto;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    color: #808080;
    font-family: 'EuclidCircularA';
    margin-top: 2px
}

.news-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    align-content: flex-start;
}

.courses-details {
    text-align: center;
    position: relative;
}

.news-h3 {
    color:black;
    display: inline-block;
    padding-bottom: 18px;
    font-size: 35px;
    margin-top: 75px;
    margin-bottom: 75px;
}
.trapezoid {
    width: 150px;
    height: 45px;
    background-color: #96858F;
    position: relative;
    clip-path: polygon(0 15px, 15px 0, 100% 0, 100% 100%, 0 100%);
    margin: 60px auto 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.trapezoid a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.learn-more{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
